# Copyright (c) 2026 LATMOS (France, UMR 8190) and IGE (France, UMR 5001).
#
# License: BSD 3-clause "new" or "revised" license (BSD-3-Clause).
#
# Plateform-specific options for compiling WRF, WRF-Chem, and WPS on Dahu.

[common]

job-exe=/usr/bin/oarsub
job-exe-option-1=-S
job-header-prefix=#OAR --
job-header-separator=" "

shell=module purge
      module load /bettik/PROJECTS/pr-regionalchem/COMMON/WRF-Chem-Polar/libraries/gcc-v14.2.0/netcdf-fortran-v4.6.2_netcdf-c-v4.9.3_hdf5-v1.14.6_zlib-v1.3.1.module

[compile.all]

job-header-option-stdout=compile.log
job-header-option-stderr=compile.log

shell=export NETCDF="$NETCDF_FORTRAN_ROOT"
      export HDF5="$HDF5_ROOT"

[compile.WRF]

job-header-option-name=WRF_compile
job-header-option-resource=/nodes=1/core=1,walltime=03:00:00

shell=export YACC="/usr/bin/yacc -d"
      export FLEX_LIB_DIR="/usr/lib/x86_64-linux-gnu"

configure-opt=34

[compile.WPS]

job-header-option-name=WPS_compile
job-header-option-resource=/nodes=1/core=1,walltime=00:15:00

configure-opt=2
