# Copyright (c) 2026 LATMOS (France, UMR 8190) and IGE (France, UMR 5001).
#
# License: BSD 3-clause "new" or "revised" license (BSD-3-Clause).
#
# Plateform-specific options for compiling WRF, WRF-Chem, and WPS on Jean Zay.

[common]

job-exe=/usr/bin/sbatch
job-header-prefix=#SBATCH --
job-header-separator==

shell=module purge
      module load gcc/13.3.0
      module load openmpi/4.1.8
      module load netcdf-c/4.7.4-mpi
      module load netcdf-fortran/4.5.3-mpi

[compile.all]

job-header-option-ntasks=1
job-header-option-ntasks-per-node=1
job-header-option-output=compile.log
job-header-option-error=compile.log

shell=export NETCDF="$NETCDF_FORTRAN_ROOT"
      export HDF5="$HDF5_ROOT"

[compile.WRF]

job-header-option-time=03:00:00
job-header-option-cpus-per-task=5

shell=module load git/2.53.0
      module load bison/3.6.4
      module load flex/2.6.4
      export YACC="bison -d"
      export FLEX_LIB_DIR="$(dirname $(which flex))/../lib"

configure-opt=34

[compile.WPS]

job-header-option-time=00:15:00

configure-opt=2
