# Copyright (c) 2026 LATMOS (France, UMR 8190) and IGE (France, UMR 5001).
#
# License: BSD 3-clause "new" or "revised" license (BSD-3-Clause).
#
# Plateform-specific options for compiling WRF, WRF-Chem, and WPS in our
# WRF-infra container.

[common]

[compile.all]

[compile.WRF]

shell=export NETCDF="/wrf/system"
      export HDF5="/wrf/system"
      export YACC="bison -d"
      export FLEX_LIB_DIR="/wrf/system/lib"

configure-opt=34

[compile.WPS]

shell=export NETCDF="/wrf/system"
      export HDF5="/wrf/system"

configure-opt=2

[compile.WRF-Chem-Preprocessing-Tools]

shell=export CC="gcc"
      export FC="gfortran"
      export NETCDF_DIR="/wrf/system"
      export AR_FILES="-lnetcdff"
      export AR_LIBS="-lnetcdff"

[run.all]

cmd-mpirun=mpirun

cmd-python=/usr/bin/python3
